.menu-open {
  overflow: hidden;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.text--white {
  color: $white;
}

.first-section {
  background: {
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  color: $white;
  padding: 394px 0 109px;

  h1 {
    color: $white;
    font: {
      size: 20px;
      weight: 500;
      family: 'Montserrat', sans-serif;
    }
    line-height: inherit;
    text-transform: uppercase;
  }

  h2 {
    font: {
      family: 'Trirong', sans-serif;
      size: 90px;
      style: italic;
      weight: 700;
    }
    margin-top: 103px;
    text-transform: none;
  }

  .buttons {
    margin-top: 161px;
  }

  @include media-breakpoint-between(lg, xl) {
    padding-top: 394px * .75;

    h2 {
      font-size: 90px * .75;
      margin-top: 103px * .6;
    }

    .buttons {
      margin-top: 161px * .6;
    }
  }

  @include media-breakpoint-down(lg) {
    h2 {
      font-size: 90px * .4;
    }
  }
}

.scroll-down-wrap {
  margin-top: 70px;
}
