.section-item {
  &.notre-vision {
    background-color: $secondary;
  }

  &.notre-equipe {
    .section-title {
      margin-bottom: 180px;
      text-transform: none;
    }
  }

  .section-title {
    color: $primary;
    margin-bottom: 88px;
  }

  .wp-block-quote {
    margin-bottom: 35px;

    &,
    p {
      font-size: 30px;
      font-weight: 600;
      line-height: 40px;
    }
  }

  .equipe {
    margin-top: 143px;
  }
}

.content--vision {
  h3 {
    color: $white;
  }

  .icons {
    background-color: $white;
    color: $primary;
    font-size: 25px;
    line-height: 35px;
    padding-bottom: 202px;
    padding-top: 200px;
  }

  .icon-item {
    width: 417px;
  }

  .icon {
    background-color: $secondary;
    border-radius: 50%;
    height: 165px;
    margin-bottom: 50px;
    width: 165px;
  }
}

.equipe-item {
  .text {
    padding-left: 60px;
  }

  .name {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 32px;
    margin-top: 65px;
  }

  .about {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
  }
}

.glide__slide {
  .text {
    opacity: 0;
    transform: translateY(-20px);
    transition: .3s;
  }

  img {
    transition: .2s;
  }

  &.glide__slide--active,
  &:hover {
    .text {
      opacity: 1;
      transform: translateY(0);
    }

    img {
      transform: scale(1.1);
    }
  }
}

.equipe {
  .glide__slides {
    padding-top: 14px;
  }
}

.notre-equipe {
  p {
    font-weight: 300;
  }
}

// offres
.offres {
  margin-top: 146px;
}

.offre-item {
  .name {
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 30px;
  }

  .subtitle {
    font-weight: 500;
    margin-bottom: 48px;
  }

  figure {
    margin-bottom: 54px;
  }

  .description {
    font-weight: 500;
  }
}

// Expertise
.notre-expertise {
  .content {
    .wp-block-quote {
      p {
        font-weight: 600;
      }
    }

    p {
      font-weight: 300;
    }

    ul {
      @include list-unstyled;
      font-size: 25px;
      font-weight: 600;
      line-height: 47px;
      margin-top: 53px;
    }

    .bg {
      padding: 0 11px;
      position: relative;

      &::after {
        background: $primary;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 4px;
        width: 100%;
        z-index: -1;
      }
    }
  }
}

// Vision
.notre-vision {
  .content {
    background: {
      position: right bottom;
      repeat: no-repeat;
      size: contain;
    }
  }

  p {
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
  }
}

.notre-expertise,
.notre-vision {
  .content {
    h3 {
      margin-bottom: 62px;
    }
  }
}
