.section-item {
  .content {
    background: {
      position: right bottom;
      repeat: no-repeat;
      size: percentage(1086 / 1920);
    }
  }

  &.section--vision {
    background-color: $secondary;
    padding-top: 176px;

    .content {
      background-size: percentage(1383 / 1920);
    }
  }

  &.section--equipe {
    padding-top: 219px;

    .section-title {
      margin-bottom: 180px;
      text-transform: none;
    }
  }

  &.section--champions {
    position: relative;

    .section-title {
      margin-bottom: 140px;
    }

    .bg {
      background: {
        color: #0b1338;
        position: center;
        repeat: no-repeat;
        size: cover;
      }
      padding-top: 244px;
      position: relative;

      @include media-breakpoint-up(lg) {
        &::before {
          background-color: $white;
          bottom: -1px;
          content: '';
          display: block;
          height: 175px;
          left: 0;
          position: absolute;
          width: 100%;
        }
      }
    }

    .glide__arrow {
      bottom: 234px;
      top: inherit;
    }

    @include media-breakpoint-between(lg, xl) {
      .bg {
        padding-top: 196px * .75;
      }
    }

    @include media-breakpoint-down(lg) {
      .bg {
        padding-top: 196px * .4;
      }

      .section-title {
        margin-bottom: 88px * .4;
      }
    }
  }

  &.section--expertise,
  &.section--offres {
    padding-top: 196px;
  }

  .section-title {
    color: $primary;
    margin-bottom: 88px;
    position: relative;

    @media (min-width: 1600px) {
      left: -139px;
    }

    .line {
      border-top: 1px solid $primary;
      display: block;
      position: absolute;
      top: 17px;
      width: 40px;
    }

    @include media-breakpoint-up(xl) {
      left: 0;
    }

    @include media-breakpoint-between(lg, xl) {
      .line {
        top: 13px;
      }
    }
  }

  .wp-block-quote {
    margin-bottom: 35px;

    &,
    p {
      font-size: 30px;
      font-weight: 600;
      line-height: 40px;

      @include media-breakpoint-between(lg, xl) {
        font-size: 30px * .75;
        line-height: 40px * .75;
      }

      @include media-breakpoint-down(lg) {
        font-size: 30px * .6;
        line-height: 40px * .6;
      }
    }
  }

  .equipe {
    margin-top: 143px;
  }

  &.section--vision,
  &.section--equipe,
  &.section--expertise,
  &.section--offres {
    @include media-breakpoint-between(lg, xl) {
      padding-top: 196px * .75;

      .section-title {
        margin-bottom: 88px * .75;
      }
    }

    @include media-breakpoint-down(lg) {
      padding-top: 196px * .4;

      .section-title {
        margin-bottom: 88px * .4;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .equipe {
      margin-top: 143px * .4;
    }
  }
}

.content--vision {
  h3 {
    color: $white;
  }

  .icons {
    background-color: $white;
    color: $primary;
    font-size: 25px;
    line-height: 35px;
    padding-bottom: 202px;
    padding-top: 200px;
  }

  .icon-item {
    width: 417px;
  }

  .icon {
    background-color: $secondary;
    border-radius: 50%;
    height: 165px;
    margin-bottom: 50px;
    width: 165px;

    img {
      height: auto;
    }
  }

  @include media-breakpoint-between(lg, xl) {
    .icon {
      img {
        max-width: 65%;
      }
    }

    .icons {
      padding-bottom: 202px * .6;
      padding-top: 200px * .6;
    }
  }

  @include media-breakpoint-down(lg) {
    .icon {
      margin-bottom: 30px;

      img {
        max-width: 40%;
      }
    }

    .icons {
      padding-bottom: 202px * .4;
      padding-top: 200px * .4;
    }

    .icon-item {
      &:not(:first-of-type) {
        margin-top: 60px;
      }
    }
  }
}

.equipe-item {
  .name {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 32px;
    margin-top: 65px;
  }

  .about {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
  }

  .text {
    padding-left: 60px;
    opacity: 0;
    transform: translateY(-20px);
    transition: .3s;
  }

  img {
    transition: .2s;
  }

  .glide__slide--active &,
  &:hover {
    .text {
      opacity: 1;
      transform: translateY(0);
    }

    @include media-breakpoint-up(md) {
      img {
        transform: scale(1.1);
      }
    }
  }

  @include media-breakpoint-between(lg, xl) {
    .name {
      font-size: 30px * .75;
      line-height: 40px * .75;
      margin-bottom: 32px * .75;
      margin-top: 65px * .75;
    }

    .about {
      font-size: 18px * .75;
      line-height: 25px * .75;
    }

    .text {
      padding-left: 60px * .75;
    }
  }

  @include media-breakpoint-down(lg) {
    .text {
      padding: 0 15px;
    }

    .name {
      margin-bottom: 32px * .4;
      margin-top: 65px * .4;
    }

    .about {
      font-size: 16px;
    }
  }
}

.equipe {
  .glide__slides {
    padding-top: 14px;
  }
}

.section--equipe {
  p {
    font-weight: 300;
  }
}

// offres
.offres {
  margin-top: 146px;

  .row {
    @include make-row($offres-gutter-width);
  }

  .offre-item {
    @include make-col-ready($offres-gutter-width);
    padding-bottom: 64px;
  }

  @include media-breakpoint-down(lg) {
    margin-top: 146px * .4;

    .offre-item {
      &:not(:first-of-type) {
        margin-top: 60px;
      }
    }
  }
}

.offre-item {
  .name {
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 30px;
  }

  .subtitle {
    font-weight: 500;
    margin-bottom: 48px;
  }

  figure {
    margin-bottom: 54px;
  }

  .description {
    font-weight: 500;
    margin-bottom: 56px;
  }

  @include media-breakpoint-down(xl) {
    .name {
      font-size: 40px * .75;
      line-height: 50px * .75;
    }
  }
}

// Expertise
.section--expertise {
  .content {
    .wp-block-quote {
      p {
        font-weight: 600;
      }
    }

    p {
      font-weight: 300;
    }

    ul {
      @include list-unstyled;
      font-size: 25px;
      font-weight: 600;
      line-height: 47px;
      margin-top: 53px;
    }

    .bg {
      padding: 0 11px;
      position: relative;

      &::after {
        background: $primary;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 4px;
        width: 100%;
        z-index: -1;

        @include media-breakpoint-down(lg) {
          top: 0;
        }
      }
    }

    @include media-breakpoint-between(lg, xl) {
      ul {
        font-size: 25px * .75;
        line-height: 47px * .75;
      }
    }

    @include media-breakpoint-down(lg) {
      ul {
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }

  .learn-more {
    margin-top: 90px;
  }

  .post-thumbnail {
    margin-top: 212px;
  }
}

// Vision
.section--vision {
  .content {
    padding-bottom: 337px;
  }

  p {
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
  }

  .learn-more {
    margin-top: 53px;
  }

  @include media-breakpoint-between(lg, xl) {
    p {
      font-size: 20px * .8;
    }

    .content {
      padding-bottom: 337px * .75;
    }
  }

  @include media-breakpoint-down(lg) {
    p {
      font-size: 16px;
    }

    .content {
      padding-bottom: 337px * .6;
    }
  }
}

.section--expertise,
.section--vision {
  .content {
    h3 {
      margin-bottom: 62px;
    }
  }
}

// Experts
.expert-item {
  .name {
    font: {
      family: 'Trirong', sans-serif;
      size: 60px;
      style: italic;
      weight: 700;
    }
    line-height: 65px;
    margin-bottom: 64px;
  }

  .about {
    font: {
      size: 25px;
      weight: 300;
    }
    line-height: 35px;
  }

  .photo {
    margin-top: 30px;
  }

  .col-photo,
  .col-text {
    @include make-col-ready($gutter: $grid-gutter-width);
  }

  @include media-breakpoint-up(lg) {
    $photo-width: 674px;
    $col-photo-width: percentage(($photo-width + $grid-gutter-width) / ($content-width + $grid-gutter-width));

    .col-photo {
      width: $col-photo-width;
    }

    .col-text {
      width: 100% - $col-photo-width;
    }
  }

  @include media-breakpoint-between(lg, xl) {
    .name {
      font-size: 60px * .75;
      line-height: 65px * .75;
    }

    .about {
      font-size: 25px * .75;
      line-height: 35px * .75;
    }
  }

  @include media-breakpoint-down(lg) {
    .name {
      font-size: 60px * .4;
      line-height: 65px * .4;
    }

    .about {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

.section--champions {
  margin-top: 188px;

  .content {
    margin-top: 75px;
  }
}

.expert-slider {
  .glide__arrow {
    border: 0;
  }

  .glide__arrow--right {
    right: -93px;
  }

  .glide__arrow--left {
    left: -93px;
  }

  @media (max-width: 1280px) {
    .glide__arrow--right {
      right: 32px;
    }

    .glide__arrow--left {
      left: 32px;
    }
  }
}

.first .glide__arrow--left {
  visibility: hidden;
}

.last .glide__arrow--right {
  visibility: hidden;
}

.white-btn {
  .btn {
    background-color: $white;
    box-shadow: 4.086px 8.019px 7px 0px rgba($secondary, 0.9);
    border: 0;
    color: $secondary;
  }
}

.section--offres {
  .reserver {
    bottom: 0;
    left: 0;
    padding: 0 28px;
    position: absolute;
    width: 100%;
  }
}
