.site-header {
  left: 0;
  padding-top: 66px;
  position: absolute;
  top: 0;
  z-index: 9;

  .container-fluid {
    @media (min-width: 1400px) {
      width: calc(100% - (140px * 2));
    }
  }
}

.internal-pages {
  .site-header {
    background-color: $secondary;
    margin-bottom: 100px;
    padding-bottom: 66px;
    position: relative;
  }
}

.menu-open {
  .site-header {
    background-color: $secondary;
    height: 100vh;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transition: background-color .2s;
    z-index: 9;
  }

  .primary-menu {
    display: block;
  }
}

.language-switcher {
  &,
  a {
    color: $secondary;
    font: {
      family: 'Trirong', serif;
      size: 20px;
      style: italic;
      weight: 700;
    }

    .internal-pages & {
      &,
      a {
        color: $white;
      }
    }

    .menu-open & {
      color: $primary;
    }

    @include media-breakpoint-down(xl) {
      font-size: 20px * .8;
    }
  }

  li {
    &:not(:first-of-type) {
      &::before {
        content: '/';
        margin: 0 4px;
      }
    }
  }
}

.primary-menu {
  display: none;
  margin: 171px 0 94px;

  a {
    color: $white;
    font-weight: 500;
    font-size: 20px;
  }

  .menu-item {
    &:not(:first-of-type) {
      margin-top: 66px;
    }

    &:last-of-type {
      margin-top: 156px;
    }
  }

  @include media-breakpoint-down(xl) {
    margin-top: 171px * .6;

    a {
      font-size: 20px * .75;
    }

    .menu-item {
      &:not(:first-of-type) {
        margin-top: 66px * .6;
      }

      &:last-of-type {
        margin-top: 156px * .6;
      }
    }
  }
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(143deg);

  &,
  &::after {
    background-color: $primary;
  }

  &::after {
    transform: translate3d(0, -20px, 0) rotate(-286deg);
  }
}

.hamburger-inner {
  &,
  &::before,
  &::after {
    border-radius: 0;
  }
}

.brand,
.custom-logo-link {
  img {
    @include media-breakpoint-down(xl) {
      height: auto;
      max-width: 90px;
    }
  }
}
